
<div class="siderbar">
    <div class="siderbar-header">
        <img src="../assets/img/logo.png" alt="" class="siderbar-header_img">
        <div class="sider-header_img_extra"> </div>
        <div class="siderbar-header_main">
        <i class="fa-solid fa-house" routerLink="/homepage"></i> <span routerLink="/homepage" class="siderbar-header_main_content">Home Page</span>
        <br>
        <i class="fa-brands fa-tiktok" routerLink="/music"></i><span routerLink="/music" class="siderbar-header_main_content">Music</span>
        <br>
        <i class="fa-solid fa-film" routerLink="/movie"></i> <span routerLink="/movie" class="siderbar-header_main_content">Movie</span>
        <br>
        <i class="fa-solid fa-plus" routerLink="/buying"></i> <span routerLink="/buying" class="siderbar-header_main_content"> Point</span>
        <br>
        <i class="fa-solid fa-heart" routerLink="/favourite"></i> <span routerLink="/favourite" class="siderbar-header_main_content"> Favourite</span>
        <br>
        <div>
    </div>

</div>