<header></header>
<div class="homepage">
    <div class="hompage-header">
        <img src="../../assets/img/img-homepage_background.jpeg" alt="" class="hompage-header_img">
        <p class="hompage-header_detail"> Enjoy With My Music, My Movie And My News</p>
        <p class="hompage-header_extra"> Use every where with every thing</p>
        <div class="hompage-header_background"></div>
    </div>
    <div class="hompage-main">
        <div class="hompage-main_content" routerLink="/music" >
            <img src="../../assets/img/img-homepage_music.png" alt="" class="img-homepage_music">
            <div class="homepage-music_detail">
                <p class="homepage-music_detail_main">Listening To Music </p>
                <p class="homepage-music_detail_extra">Listen to your favorite music, relax and chill after a long day of work. </p>
            </div>
        </div>
        <div class="hompage-main_content" routerLink="/music">
            <div class="homepage-news_detail">
                <p class="homepage-news_detail_main">View Singer's Information </p>
                <p class="homepage-news_detail_extra">View information of singers as well as their featured songs.</p>
            </div>
            <img src="../../assets/img/img-homepage_news.png" alt="" class="img-homepage_news">

        </div>
        <div class="hompage-main_content" routerLink="/movie">
            <img src="../../assets/img/img-homepage_flim.png" alt="" class="img-homepage_flim">
            <img src="../../assets/img/img-homepage_flimextraleft.png" alt="" class="img-homepage_flimextraleft">
            <img src="../../assets/img/img-homepage_flimextraright.png" alt="" class="img-homepage_flimextraright">
            <div class="homepage-flim_detail">
                <p class="homepage-flim_detail_main">Watching The Flim </p>
                <p class="homepage-flim_detail_extra">Watch your favorite movies with your friends and family in high definition anytime you want. </p>
            </div>
        </div>
        <div class="hompage-main_content" routerLink="/buying">
            <div class="homepage-vote_detail">
                <p class="homepage-vote_detail_main">Buy Point </p>
                <p class="homepage-vote_detail_extra">Buy points to listen to the best songs and latest movies from famous directors and singers. </p>
            </div> 
            <img src="../../assets/img/img-homepage_vote.png" alt="" class="img-homepage_vote">
        </div>
    </div>
</div>