<header></header>
<siderbar></siderbar>
<div class="playlist">
    <div class="playlist-header">
        <i class="fa-solid fa-music"></i>
        <p class="playlist-header_detail">Your playlist</p>
    </div>
    <div class="playlist-main">
        <div class="playlist-main_header">
            <i class="fa-solid fa-plus"></i>
            <p class="playlist-main_detail"> Create your new playlist</p>
        </div>
        <div class="playlist-main_body">
            <div class="playlist-main_body_music">
                <p class="playlist-main_body_music_header">Music Playlist</p>
            </div>

            <div class="playlist-main_body_movie">
                <p class="playlist-main_body_movie_header">Movie Playlist</p>
            </div>

            <div class="playlist-main_body_news">
                <p class="playlist-main_body_news_header">News Playlist</p>
            </div>

        </div>
    </div>
</div>   