<div class="admin">
    <siderbaradmin></siderbaradmin>
    <headeradmin></headeradmin>
    <div class="admin-body">
        <div class="admin-body_information">
            <div class="admin-body_information_detail blue">
                <p class="admin-body_information_detail_total">Total User</p>
                <p class="admin-body_information_detail_count">100</p>
            </div>
            <div class="admin-body_information_detail green">
                <p class="admin-body_information_detail_total">Total Music</p>
                <p class="admin-body_information_detail_count">40</p>
            </div>
            <div class="admin-body_information_detail poper">
                <p class="admin-body_information_detail_total">Total Flim</p>
                <p class="admin-body_information_detail_count">30</p>
            </div>
            <div class="admin-body_information_detail pink">
                <p class="admin-body_information_detail_total">Total Singer</p>
                <p class="admin-body_information_detail_count">10</p>
            </div>
        </div>
        <div class="admin-body_chart">
            <chartcolum class="chartcolum"></chartcolum>
            <chartcicle class="chartcicle">
            </chartcicle>
            <chartciclee class="chartcicle">
            </chartciclee>
            </div>
    </div>
</div>