<div class="manageuser-siderbar">
    <img
      src="../../../assets/img/logo.png"
      alt=""
      class="manageuser-siderbar_logo"
    />
    <div class="manageuser-siderbar_function">
      <div class="mainnn">
        <i class="fa-solid fa-house"></i>
        <span class="manageuser-siderbar_function_detail" routerLink="/admin"> Home Page</span>
        <br />
      </div>
      <div class="mainnn">
        <i class="fa-solid fa-music"></i>
        <span class="manageuser-siderbar_function_detail" routerLink="/admin/managemusic"> Manage Music</span>
        <br />
      </div>
      <div class="mainnn">
        <i class="fa-solid fa-film"></i>
        <span class="manageuser-siderbar_function_detail" routerLink="/admin/managefilm">
          Manage Movie</span
        >
        <br />
      </div>
      <div class="mainnn">
        <i class="fa-solid fa-microphone"></i>
        <span class="manageuser-siderbar_function_detail" routerLink="/admin/managepoint">Manage Singer</span>
        <br />
      </div>
      <div class="line"></div>
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span class="manageuser-siderbar_function_detail"(click)="out()"> Sign Out</span>
    </div>
  </div>