.signup
{
 width:100%;
 height: 830px;
}
.signup-main_
{
opacity: 0.5;
}
.signup-main_img
{
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
.signup-main_background
{
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: black;
    opacity: 0.5;
}
.signup-content
{
 position: absolute;
 top:10%;
 bottom:10%;
 left:30%;
 right:30%;
 background-color: rgba(255, 255, 255, 0.7);
 border-radius: 14px;
 box-shadow: 0px 0px 10px 5px white;

}
.signup-content_main
{
    width: 100%;
    height: 80%;
}
.signup-content_main_header
{
font-size: 60px;
margin: 0px;
margin-left: 32%;
margin-top: 5%;
}
.formsignup
{
    width: 100%;
    height: 100%;
    margin-top: -2%;
}
.signup-content_main_extra
{
    font-size: 16px;
    margin: 0px;
    margin-left: 34%;
    margin-top: 1%;
    font-style: italic;
}
.signup-content_main_input 
{
    border: none;
    background-color: white;
    border-radius: 30px;
    width: 80%;
    height: 12%;
    margin-top: 5.5%;
    margin-left: 10%;
    padding-left:5%;
    font-size: 16px;
}
.signup-content_main_input:focus
{
    outline: none;
}
.password {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .confirmpassword {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .fa-eye {
    color: #000000;
    font-size: 18px;
    cursor: pointer;
  }

.eyepass
{
    position: relative;
    margin-left: -7%;
    margin-top: 2%;
    z-index: 10;
}
.eyecf
{
    position: relative;
    margin-left: -7%;
    margin-top: 2%;
    z-index: 10;
}
.signup-content_main_button
{
    border: none;
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius: 30px;
    width: 85%;
    height: 12%;
    margin-top: 5.5%;
    margin-left: 10%;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}
.signup-content_main_signin
{
    font-size: 16px;
    font-weight: 600;
    margin-left: 32%;
    margin-top: 5%;
}
.signin
{
    color:white;
    cursor: pointer;
}

.signup-form_input_notification {
    color: red;
    font-weight: 600;
    font-size: 14px;
    margin-left: 15%;
    margin-top:1.5%;
    font-style: italic;
    display: none;
    position: absolute;
  }
  .notification {
    display: block;
  }
  