<header></header>
<siderbar></siderbar>
<div class="buying">
<div class="buying-header">
        <p class="buying-header_content_detail">Money App</p>
        <div class="buying-header_content_main">
            <div class="buying-header_content_main_function">
                <img src="../../assets/img/img-buying_momo.jpeg" alt="" class="buying-header_content_main_function_img">
            </div>
            <div class="buying-header_content_main_function">
                <img src="../../assets/img/img-buying_viettelpay.png" alt="" class="buying-header_content_main_function_img">
            </div>
            <div class="buying-header_content_main_function">
                <img src="../../assets/img/img-buying_vnpay.png" alt="" class="buying-header_content_main_function_img">
            </div>
            <div class="buying-header_content_main_function">
                <img src="../../assets/img/img-buying_zalopay.webp" alt="" class="buying-header_content_main_function_img">
            </div>
        </div>
</div>

<div class="buying-body">
    <p class="buying-body_detail">Banking App</p>

    <div class="buying-body_content_main">
        <div class="buying-body_content_main_function">
            <img src="../../assets/img/img-buying_aribank.jpeg" alt="" class="buying-body_content_main_function_img">
        </div>
        <div class="buying-body_content_main_function">
            <img src="../../assets/img/img-buying_mbbank.png" alt="" class="buying-body_content_main_function_img">
        </div>
        <div class="buying-body_content_main_function">
            <img src="../../assets/img/img-buying_nâm.jpeg" alt="" class="buying-body_content_main_function_img">
        </div>
        <div class="buying-body_content_main_function">
            <img src="../../assets/img/img-buying_vbbank.jpeg" alt="" class="buying-body_content_main_function_img">
        </div>
    </div> 
</div>
</div>