<header></header>
<siderbar></siderbar>
<div class="search">
    <div class="search-header">
        <input type="text" class="search-header_input">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="search-main">
        <p class="search-main_header"> For All</p>
        <div class="search-main_contenttt">

        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_podcast.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>

        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_light.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>

        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_edm.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>

        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_chill.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>

        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_war.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>

        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_action.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>


        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_love.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>


        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_fun.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>



        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_sciense.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>


        <div class="search-main_content">
            <div class="search-main_content_detail">
                <p class="search-main_content_detail_header"> Podcacsts</p>
                    <img src="../../assets/img/img-search_super.jpg" alt="" class="search-main_content_detail_img">
            </div>
        </div>
    </div>
</div>
</div>